// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$primary-two: #FFC65A;
$bright-orange: #E67E22;
$green: #1EDD88;
$gray: #1f1f1f;

// Brand Colors
// $primary-one: #F4F4F4;
// $primary-two: #DA915D;
// $cream: #E8E3DD;
// $secondary: #658E9C;
// $tertiary: #260C1A;
// $dark-brown: #432E36;

// $primary-one: #e9d66a;
$primary-one: #3973b9;
$primary-two: #d9c423;
$secondary-one: rgb(146, 146, 146);
$tertiary: #40434E;
$highlight: #f370ea;

$dark-brown: #432E36;
$light-blue: #f6f7fb;
$rasberry: white;
