// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
// $primary-two: #FFC65A;
$bright-orange: #E67E22;
$green: #1EDD88;
$gray: #1f1f1f;

// Brand Colors
// $primary-one: #F4F4F4;
// $primary-two: #DA915D;
// $cream: #E8E3DD;
// $secondary: #658E9C;
// $tertiary: #260C1A;
// $dark-brown: #432E36;


// $primary-one: #feaa47;
$primary-one: #F6A623;
// $primary-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$primary-two: #6C7FF2;
$buttons-one: #F6A623;
$secondary-one: #f8d864;
$tertiary: #40434E;
$coral-red: #FF5722;

$dark-purple: #5C3A5E;
$light-blue: #f6f7fb;
$rasberry: white;
