// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$bright-orange: #E67E22;
$green: #1EDD88;
$gray: #1f1f1f;

// Brand Colors
$light-gray: #F4F4F4;
$orange: #DA915D;
$cream: #E8E3DD;
$teal: #658E9C;
$dark-purple: #260C1A;
$dark-brown: #432E36;
