body:has(#chat)::after {
  content: '';
  position: fixed;
  bottom: 120px;
  right: 20px;
  width: 250px;
  height: 250px;
  background-image: image-url('good-dog.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  z-index: -1;
  opacity: 0.8;
}

.chat-head {
  background-color: rgba(255, 255, 255, 0.8);
}

.ask-button {
  background-color: $dark-purple;
  color: white;
}

.rounded-pill {
  background-color: $dark-purple;
  color: white;
}

.response-pill {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}
