.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-lewagon .nav-item {
  margin-left: 0.5rem;
}

// Hide top navbar on mobile when bottom navbar is present
@media (max-width: 767.98px) {
  .hide-navbar-mobile {
    display: none;
  }
}
